<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/api/v1/view/index"><i class="fas fa-laptop-code"></i> Kampovi</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <i class="fas fa-user"></i> Account
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/api/v1/view/manage-bootcamp">Manage Bootcamp</a>
            <a class="dropdown-item" href="/api/v1/reviews">Manage Reviews</a>
            <a class="dropdown-item" href="/api/v1/view/manage-account">Manage Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/api/v1/view/login"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/bootcamps">Browse Bootcamps</a>
        </li>
      </ul>
    </div>
  </div>
</nav>